body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calShell{
  height:500px;
  width:600px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calShell div{
}

.dateBox, .dayBox{
  border: 1px solid black;
  height: 90px;
  flex-basis: 13.9%;
  margin-top: 2px;
  background-color: lightgreen;
}

.green{
  background-color: green;
}

#dateBoxText{
  font-family: cursive;
}

.dayBox{
  height: 30px;
  background-color: grey;
  display: flex;
  align-items: center;
}

#dayBoxText{
  font-variant: small-caps;
  font-weight: bold;
  margin: auto;
}

.monthHeadComp {
  flex-basis: 100%;

}

#monthHeading {
  margin:auto;
  text-align: center;
}

.monthControl{
  display: flex;
}

.monthControlChild{
  flex: 3;
}

.monthControlChildBut{
  flex: 1;
}
